{#
/**
 * Block Name: Accordion
 *
 * This is the template that displays the example block.
 */
#}

<div id="block-{{ block.id }}" class="mod-accordion">
	<div class="accordion" id="accordion-{{ block.id }}">
		{% set rownr = 1 %}
		{% set delay = 200 %}
		{% for card in fields.accordion %}
		  <div class="item">
	      <a id="heading_{{ block.id }}_{{ rownr }}" class="heading" data-toggle="collapse" data-target="#collapse_{{ block.id }}_{{ rownr }}" aria-controls="collapse_{{ block.id }}_{{ rownr }}">
	      	<div class="row">
		      	<div class="col-auto" style="width: 20px">
		      		<i class="fal fa-chevron-right"></i>
		      	</div>
		      	<div class="col">
		        	<h5>{{ card.vraag }}</h5>
		      	</div>
	      	</div>
	      </a>
		
		    <div id="collapse_{{ block.id }}_{{ rownr }}" class="collapse" aria-labelledby="heading_{{ block.id }}_{{ rownr }}" data-parent="#accordion-{{ block.id }}">
		    <div class="row">
		      <div class="col-auto" style="width: 40px">
		      	</div>
		      	<div class="col">
		      		<br>
							{{ card.antwoord }}
		      	</div>
		    </div>
		    </div>
		  </div>
		  {% set delay = delay + 200 %}
		  {% set rownr = rownr + 1 %}
		{% endfor %}
	</div>
</div>

<style type="text/css">
  #block-{{ block.id }} h5 {
    font-size: 18px;
    color: #000;
  }
</style>