{% extends "base.twig" %}

{% block content %}
  <div class="content-wrapper">
		<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
			<section class="section{{ sectionno }} mod-pageheader big bg-darkgrey {% if item.text_white %} text-white {% endif %}">
				<div class="bg" style="background-image: url({{ Image(options.achtergrond404).src|resize(1600) }});">
				</div>
				<div class="content w-100 h-100 d-flex align-items-center">
			  	<div class="container">
			    	<div class="row">
			    		<div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
					    	<h2 id="texteffect" class="h1 text-center"> {{ options.titel404 }} </h2>
					    	{% if options.tekst404 %}
					    		<p class="text-center"> {{ options.tekst404 }} </p>
					    	{% endif %}
					      {% if options.knoptekst404 %}
					      	<div class="text-center">
										<a class="btn btn-primary" href="/">
											{{ options.knoptekst404 }} 
										</a>
					      	</div>
						    {% endif %}
			    		</div>
			    	</div>
					</div>
			  </div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}